---

import BaseLayouts from '../layouts/BaseLayouts.astro';
import BlogPost from '../components/BlogPost.astro';
const pageTitle = "Blog Page";
const allPosts = await Astro.glob('../pages/posts/*.md');
---

<BaseLayouts pageTitle={pageTitle} >
    <h1>This is Blog Page</h1>
    <p>This is where I will post about my journey learning Astro.</p>
	<ul>
		

        {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
	</ul>
</BaseLayouts>